*{
  box-sizing: border-box;
}

body{
  background-color: #17181f;
  color: #ddd;
}

main{
  max-width: 400px;
  margin: 30px auto;
  border: 10px solid #696d8b;
  border-style: ridge;
  padding: 2.5%;
  border-radius: 5%;
}

h1{
  text-align: center;
  color: #fff;
  margin:0;
  font-size: 2.5rem;
}
h1 span{
  font-size: 1rem;
  vertical-align: top;
  display: inline-block;
  margin-top: 6px;
}

form{
  margin-top: 20px;
}

form input{
  width: 100%;
  background-color: transparent;
  color: #ddd;
  border: 2px solid #30313d;
  padding: 2px 5px;
  border-radius: 5px;
}
form input[type="datetime-local"]{
  color: #777;
}
.basic{
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
form button{
  width: 100%;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: #ddd;
  cursor: pointer;
}
button:hover{
  background-color: #b4b4b4;
}

.transactions{
  margin-top: 10px;
}
.transaction{
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
  border-top: 1px solid #30313d;
}
.transaction:first-child{
  border-top: 0;
}
.transaction .name{
  font-size: 1rem;
}
.transaction .description{
  font-size: 0.7;
  color: #888;
}
.right{
  text-align: right;
}
.green{
  color: #1c1;
}
.red{
  color: #c11;
}
.transaction .datetime{
  font-size: 0.7rem;
  color: #888;
}

.total{
  margin: 10px 0;
}